__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
env/
distilbert/results/**/checkpoint-*/
distilbert/results_synthetic/**/checkpoint-*/
data_augmentation/text_alignment/sample.out/
discarded code/distilbert_model/model.safetensors
datasets/parallel_corpus/lang8_Eng_1.0.xml
pipeline/syntactic/parallel_corpus/lang8_Eng_1.0.xml
pipeline/semantic/results_synthetic/
pipeline/word_alignment/text_alignment/sample.out
pipeline/word_alignment/text_alignment/sample.out/model1
pipeline/semantic/results_synthetic/
pipeline/word_alignment/text_alignment/
